{{ define "content" }}
<header style="text-align: center;" style="margin-bottom: 100px">
    <h1 class="display-4">TennessGo 不规范中文规范化程序</h1>
    <p class="text-muted">使用Go语言编写</p>
</header>
<form action="/" method="POST">
    <input id="input" type="text" name="informal" placeholder="请输入一句不那么规范的中文句子" class="form-control">
    <p class="text-danger"><small id="err">{{ .err }}</small></p>
</form>
<div id="result" style="margin-bottom: 100px;"></div>
<div class="intro">
    <p>TennessGo-Web是Fluorine的兄弟项目，其目的在于改善搜索引擎中由于不规范中文导致结果偏离的问题。</p>
    <p>但是TennessGo-Web在Fluorine基础上进行了改良，其使用AJAX技术自动更新网页内容，使用户不用去按下“提交”按钮</p>
    <p><a href="/bd">Baidu搜索引擎版</a></p>
    <p>
        具体代码见：
        <a href="https://github.com/z-t-y/tennessgo-web">GitHub</a>或者
        <a href="https://gitee.com/andyzhouty/tennessgo-web">Gitee</a>
    </p>
</div>
<script>
    $("#input").keyup(function() {
        let content = $("#input").val()
        $.ajax({
            type: "post",
            url: "/api",
            dataType : "json",
            data: JSON.stringify({"to_translate": content}),
            success: function (result) {
                if (result["error"]) {
                    $("#err").html(result["error"])
                } else {
                    $("#err").html("")
                }
                $("#result").html(result["translated"])
            }
        });
    });
</script>
{{ end }}
